.main-menu__choice--1 {
  animation: apparition 1s;
  animation-delay: calc(4s + 0.$i);
}

.main-menu__choice--2 {
  animation: apparition 1s;
  animation-delay: calc(4s + 0.$i);
}

.main-menu__choice--3 {
  animation: apparition 1s;
  animation-delay: calc(4s + 0.$i);
}

.main-menu__choice--4 {
  animation: apparition 1s;
  animation-delay: calc(4s + 0.$i);
}

* {
  font-family: "roboto", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
}

.main-menu h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2em;
}

.main-menu h1 {
  font-family: "Shrikhand", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.main-menu__heading h1 {
  font-family: "Shrikhand", sans-serif;
}

.main-home h1 {
  width: 75%;
  font-family: "roboto";
  font-size: 1.7em;
}

.main-home p {
  width: 80%;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.like {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1.4em;
  cursor: pointer;
  z-index: 1;
  transform: scale(1);
}
.like:hover {
  animation: aime 500ms;
  animation-fill-mode: both;
}
.like:hover + .like--checked {
  animation: aime2 500ms forwards;
  animation-delay: 250ms;
}

.like--checked {
  color: #FF79DA;
  position: absolute;
  right: 19px;
  top: 9px;
  font-size: 1.5em;
  z-index: 0;
  opacity: 0;
}

.main-menu .like {
  right: 2px;
  top: 30px;
  font-size: 1.4em;
}

.main-menu .like--checked {
  right: 29px;
  top: 29px;
  font-size: 1.5em;
}

header {
  display: flex;
  justify-content: center;
  height: 63px;
  align-items: center;
  position: relative;
}
header img {
  height: 30px;
}

.header__to-home {
  position: absolute;
  left: 20px;
}
.header__to-home a {
  color: black;
}

.search-city {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(180deg, #cfcfcf 0%, #e9e9e9 8%);
}

.search-city i {
  margin-right: 15px;
}

.search-city__bar {
  border: none;
  background-color: #e9e9e9;
  height: 45px;
  font-family: "roboto";
  font-weight: 700;
  color: black;
  font-size: 1em;
  width: 130px;
  text-align: center;
}
.search-city__bar:focus {
  outline: none;
}

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f6f6f6;
}

.nav-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 30px;
}

.nav-home__heading {
  width: 90%;
  display: flex;
}

.nav-home__box {
  width: 90%;
  padding-left: 12.5px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  .nav-home__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-home__number {
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 100%;
  text-align: center;
  color: white;
  line-height: 23px;
  position: absolute;
  left: -12.5px;
}

.article-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  padding-top: 20px;
}
@media screen and (min-width: 992px) {
  .article-home {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.article-home__heading {
  width: 90%;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.awesome-btn {
  height: 50px;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 76%);
  box-shadow: -2px 0px 4px #bebebe, 2px 4px 4px #bebebe;
  color: white;
  border-radius: 25px;
  transform: scale(1);
  transition: transform 200ms cubic-bezier(0.39, -0.48, 0.41, 1.57);
  position: relative;
  z-index: 1;
}
.awesome-btn:hover {
  transform: scale(1.2);
}

.awesome-btn::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(162deg, #e872da 0%, #a75ddb 94%);
  box-shadow: -3px 1px 4px #bebebe, 3px 5px 4px #bebebe;
  border-radius: 25px;
  z-index: -1;
  opacity: 0;
  transition: opacity 800ms 100ms;
}

.awesome-btn:hover::after {
  opacity: 1;
}

.main-home__btn {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-home__btn {
  cursor: default;
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 15px;
  font-weight: 500;
  margin-bottom: 30px;
  box-shadow: -2px 0px 4px #ececec, 2px 4px 4px #ececec;
}
@media screen and (min-width: 576px) {
  .nav-home__btn {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .nav-home__btn {
    width: 30%;
  }
}
.nav-home__btn i {
  color: #7e7e7e;
  margin-left: 32.5px;
  margin-right: 25px;
}

.nav-home__btn:hover {
  background-color: #f2eafb;
}
.nav-home__btn:hover i {
  color: #9356DC;
}

.main-menu__btn {
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.card {
  width: 90%;
  border-radius: 15px;
  box-shadow: -2px 0px 4px #ececec, 2px 4px 4px #ececec;
  margin-bottom: 15px;
}
@media screen and (min-width: 576px) {
  .card {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: 40%;
    margin-bottom: 40px;
    transition: transform 400ms cubic-bezier(0.39, -0.48, 0.41, 1.57);
  }
  .card:hover {
    transform: scale(1.05);
  }
}

.card__content {
  padding-left: 12px;
  position: relative;
}
.card__content h3 {
  margin-top: 15px;
  margin-bottom: 0;
}
.card__content p {
  margin-top: 6px;
}

.card__img-box img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: 0 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media screen and (min-width: 576px) {
  .card__img-box img {
    height: 190px;
  }
}
@media screen and (min-width: 992px) {
  .card__img-box img {
    height: 240px;
  }
}

.card__img-box {
  position: relative;
}

.card__img-box--new {
  position: absolute;
  padding: 10px 15px;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #278870;
  box-shadow: -4px 0px 2px rgba(153, 226, 208, 0.4);
  border-radius: 3px;
}

@keyframes aime {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
    opacity: 0%;
  }
}
@keyframes aime2 {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
footer {
  background-color: #353535;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer a {
  color: white;
}

.footer__box {
  width: 90%;
  margin: auto;
  max-width: 1080px;
}

footer ul {
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 576px) {
  footer ul {
    display: flex;
    justify-content: space-between;
  }
}

footer li {
  margin-bottom: 5px;
}

.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5em;
  width: 90%;
  margin: auto;
}

footer i {
  margin-right: 15px;
  display: inline-block;
  width: 15px;
}

.menu-image {
  width: 100%;
  height: 250px;
  position: relative;
}
@media screen and (min-width: 576px) {
  .menu-image {
    height: 320px;
  }
}
@media screen and (min-width: 992px) {
  .menu-image {
    height: 400px;
  }
}
.menu-image img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
@media screen and (min-width: 576px) {
  .menu-image img {
    height: 350px;
    object-position: 50% 70%;
  }
}
@media screen and (min-width: 992px) {
  .menu-image img {
    height: 400px;
  }
}

.main-menu {
  position: relative;
  background-color: #f6f6f6;
}
.main-menu__heading {
  position: absolute;
  top: -75px;
  display: flex;
  width: 100%;
  background-color: #f6f6f6;
  box-sizing: border-box;
  height: 75px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.main-menu h1 {
  width: 90%;
  margin: auto;
  font-size: 1.7em;
  margin-top: 25px;
}
@media screen and (min-width: 992px) {
  .main-menu h1 {
    width: 98%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .main-menu {
    width: 98%;
    margin: auto;
  }
}

.main-menu__box {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 60px;
}
@media screen and (min-width: 992px) {
  .main-menu__box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 98%;
  }
}

.main-menu__entree,
.main-menu__dish,
.main-menu__desserts {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .main-menu__entree,
.main-menu__dish,
.main-menu__desserts {
    width: calc(100% / 3);
  }
}

.main-menu h2 {
  position: relative;
}
.main-menu h2::after {
  content: "";
  width: 48px;
  height: 3px;
  background-color: #99E2D0;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.main-menu__choice {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  padding-right: 20px;
  height: 70px;
  box-shadow: -2px 0px 4px #ececec, 2px 4px 4px #ececec;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
  transition: padding 200ms;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}
@media screen and (min-width: 992px) {
  .main-menu__choice {
    width: 90%;
    margin-top: 30px;
  }
}

.main-menu h3 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-menu p {
  margin: 0;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-menu__choice--price {
  font-weight: 600;
}

.main-menu__choice--content {
  width: 85%;
}

.encoche-verte {
  position: absolute;
  top: 0;
  right: -59px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 59px;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 1.4em;
  transform-origin: right;
  transition: transform 400ms;
}

.main-menu__choice i {
  display: block;
  transform: rotate(-90deg);
  transition: transform 400ms 0.1s;
}

.main-menu__choice:hover {
  padding-right: 65px;
}
.main-menu__choice:hover .encoche-verte {
  transform: translateX(-59px);
}
.main-menu__choice:hover .main-menu__choice--content {
  width: 70%;
}
.main-menu__choice:hover i {
  transform: rotate(360deg);
}

.m-1 {
  animation: apparition 1s forwards;
  animation-delay: 3.4s;
}

.m-2 {
  animation: apparition 1s forwards;
  animation-delay: 3.5s;
}

.m-3 {
  animation: apparition 1s forwards;
  animation-delay: 3.6s;
}

.m-4 {
  animation: apparition 1s forwards;
  animation-delay: 3.7s;
}

.m-5 {
  animation: apparition 1s forwards;
  animation-delay: 3.8s;
}

.m-6 {
  animation: apparition 1s forwards;
  animation-delay: 3.9s;
}

.m-7 {
  animation: apparition 1s forwards;
  animation-delay: 4s;
}

.m-8 {
  animation: apparition 1s forwards;
  animation-delay: 4.1s;
}

.m-9 {
  animation: apparition 1s forwards;
  animation-delay: 4.2s;
}

.m-10 {
  animation: apparition 1s forwards;
  animation-delay: 4.3s;
}

.main-menu .like {
  right: 5%;
  top: 28px;
  font-size: 1.7em;
}

.main-menu .like--checked {
  right: 5%;
  top: 27px;
  font-size: 1.8em;
}

.animation_box {
  height: 100vh;
  position: fixed;
  width: 100vw;
  margin: auto;
  background-color: white;
  z-index: 4;
  animation: disparait 500ms 3.5s forwards;
}

.bouteille i {
  color: #9356DC;
}

.verre i {
  color: #99E2D0;
}

.bouteille {
  position: absolute;
  left: calc(50% - 65px);
  top: calc(50% - 136px);
  transform: rotate(-45deg);
  animation: bouteille-rotate 2500ms ease-in-out 400ms forwards, disparait 500ms 3s forwards;
}

.verre {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 18px);
  animation: disparait 500ms 3s forwards;
}

.liquide {
  position: absolute;
  width: 4px;
  height: 60px;
  background-color: #FF79DA;
  top: calc(50% - 64px - 60px);
  left: calc(50% - 2px);
  transform-origin: top;
  transform: scaleY(0);
  animation: liquide-coule 1000ms ease-out 1400ms forwards, disparait 500ms 3s forwards;
}

.liquide-verre {
  position: absolute;
  background-color: #FF79DA;
  height: 30px;
  width: 25px;
  top: calc(50% - 60px);
  left: calc(50% - 12.5px);
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  transform: scaleY(0);
  transform-origin: bottom;
  animation: remplir 900ms 1800ms forwards, disparait 500ms 2.9s forwards;
}

@keyframes bouteille-rotate {
  0% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes etiquette-rotate {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(45deg);
  }
  80% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes liquide-coule {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    opacity: 0;
  }
}
@keyframes remplir {
  to {
    transform: scaleY(1);
  }
}
@keyframes disparait {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    z-index: -2;
    opacity: 0;
  }
}
body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
