.btn {
    @include flex-row;
}

.main-home__btn {
    height: 50px;
    background: linear-gradient(162deg, $color-secondary 0%, $color-primary 76%); //à ajuster
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    transform: scale(1);
    transition: transform 200ms;
    position: relative;
    z-index:1;
    &:hover {
        transform: scale(1.2);
    }
}


.main-home__btn::after {
    position: absolute;
    content: "";
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: linear-gradient(162deg, rgba(232,114,218,1) 0%, rgba(167,93,219,1) 94%);
    border-radius: 25px;
    z-index: -1;
    opacity:0;
    transition: opacity 800ms 100ms;
}

.main-home__btn:hover::after {
    opacity:1;
}
