body {
    font-family: "roboto";
}

h1 {
    font-family: "Shrikhand", sans-serif;
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2em;
}

a {
    color:black;
    text-decoration: none;
}
