* {
    font-family: "roboto", sans-serif;
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2em;
}

.main-menu h1{
    font-family: "Shrikhand", sans-serif;
}

a {
    color:black;
    text-decoration: none;
}
