@keyframes aime {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
        opacity:0%;
    }
}

@keyframes aime2 {
    0% {
        transform: scale(2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity:1
    }
}