
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$back-color: #f6f6f6;




@for $i from 1 through 4 {
    .main-menu__choice--#{$i} {
        animation: apparition 1s;
        animation-delay: calc(4s + 0.$i);
    }
}

